/* Media queries */


/* tablet OR Mobile Landscape View */

@media (max-width:750px) {
    /* home tab */
    #section1 {
        height: 100%;
    }
    #mainHeading {
        font-size: 12.5px;
    }
    .headings {
        font-size: 25px
    }
    .aimPara {
        padding-left: 0px;
    }
    .motto {
        margin-top: 15px;
        font-size: 20px;
    }
    /* aboutUs tab */
    .boxContainer {
        grid-template-columns: 1fr 1fr;
    }
    .cardBox {
        height: 200px;
        /* width: 350px; */
        grid-template-columns: 100px 100px 135px;
    }
    .img5 {
        height: 100px;
        width: 100px;
    }
    .card {
        font-size: 13px;
    }
    .cardInfo {
        margin-left: 2px;
    }
    .cardInfo2 {
        margin-top: 75px;
    }
    /* Mobile view */
    @media (max-width:450px) {
        /* home tab */
        #flag {
            display: none;
        }
        .sections {
            font-size: 15px;
        }
        #section1 {
            height: 100%;
        }
        #mainHeading {
            font-size: 10px;
        }
        .headings {
            font-size: 20px
        }
        .motto {
            margin-top: 0px;
            padding: 10px;
            font-size: 15px;
        }
        #aboutUs {
            margin-left: 10px;
            margin-right: 10px;
        }
        #aimSec {
            margin-left: 10px;
            margin-right: 10px;
        }
        .aimPara {
            padding-left: 0px;
        }
        .copyright {
            font-size: 10px;
        }
        /* aboutUs tab */
        .boxContainer {
            grid-template-columns: 1fr;
        }
        .cardBox {
            height: 200px;
            /* width: 350px; */
            grid-template-columns: 100px 100px 135px;
        }
        .img5 {
            height: 100px;
            width: 100px;
        }
        .card {
            font-size: 13px;
        }
        .cardInfo {
            margin-left: 2px;
        }
        .cardInfo2 {
            margin-top: 75px;
        }
        /* contact tab */
        .container2 {
            margin-top: 22vh;
            height: 72vh;
            /* width: 150px; */
            margin-left: 10px;
            margin-right: 10px;
        }
        .pt2 {
            margin-left: -10px;
            font-size: 16px;
        }
        .pt3 {
            margin-left: -10px;
            font-size: 16px;
        }
        .logos {
            height: 43px;
        }
        .copyright {
            padding-bottom: 35px;
        }
    }
    /* For ultra small mobiles like iphone 4 */
    @media (max-width:364px) {
        /* home tab */
        /*  */
        /* aboutUs tab */
        .cardBox {
            height: 200px;
            width: 300px;
            grid-template-columns: 100px 90px 95px;
        }
        /* contact tab */
        .container2 {
            height: 70vh;
            /* width: 150px; */
            margin-left: 10px;
            margin-right: 10px;
        }
        .pt2 {
            margin-left: -10px;
            font-size: 16px;
        }
        .pt3 {
            margin-left: -10px;
            font-size: 16px;
        }
        .logos {
            height: 43px;
        }
    }
}
